# EcoEnergy - Variables de Entorno
# Copie este archivo como .env y configure según su entorno

# Configuración básica Django
SECRET_KEY=django-insecure-tf*&rw==iz2wj8$o4k6m+*ag@^a60lnce8g&o6gha)5lz@a-5_
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,testserver

# Configuración de Base de Datos
# Por defecto se utiliza SQLite para máxima portabilidad en laboratorios
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
